# Composer dependencies
vendor/
composer.lock

# js directories
node_modules/
jspm_packages/

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
yarn.lock
yarn-error.log

# Gatsby files
.cache/


# aplication un tracking
dist
_cache
_data
_server_install
_server_remote
_backup_db
_php_source/*.rar
_php_source/*.zip
php_source/*.rar
php_source/*.zip

assets/web
assets/vendors/font-awesome-4.7.0
assets/vendors/font-open-sans
assets/vendors/font-poppins
assets/vendors/font-roboto
assets/vendors/*.rar
assets/vendors/*.zip
assets/manifest.json
assets/asrip/**
assets/*.rar
assets/*.zip
arsip


_thumb/**